{% extends 'mainsite.html' %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}
{% trans "Sign In" %}
{% endblock %}

{% block details %}
<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-9 col-md-7 col-lg-5 col-xl-4 access-form text-center shadow">
      <!-- Sign-in title & subtitle with link for sign up -->
      <h2 class="pt-2">{% trans "Sign In" %}</h2>
      <p class="access-form-smalltxt">{% blocktrans %}If you have never booked with us before, please
        <a href="{{ signup_url }}">Sign Up</a> first{% endblocktrans %}</p>

      <!-- Sign-in form -->
      <form class="login" method="POST" action="{% url 'account_login' %}">
        {% csrf_token %}
        {{ form.as_p }}
        {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
        {% endif %}
        <button class="btn btn-light primaryAction mb-3" type="submit">{% trans "Sign In" %}</button>
      </form>
    </div>
  </div>
</div>
{% endblock %}