{% extends 'mainsite.html' %}

{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block details %}
<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-9 col-md-7 col-lg-5 col-xl-4 access-form text-center shadow">
      <!-- Sign-up title -->
      <h2 class="pt-2">{% trans "Sign Up" %}</h2>
      <!-- Subtitle with link for existing account -->
      <p class="access-form-smalltxt">{% blocktrans %}If you have booked with us before, please <a href="{{ login_url }}">Sign In</a>{% endblocktrans %}
      </p>

      <!-- Sign-up form -->
      <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
        {% csrf_token %}
        {{ form.as_p }}
        {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
        {% endif %}
        <button class="btn btn-light mb-3" type="submit">{% trans "Sign Up" %}</button>
      </form>
    </div>
  </div>
</div>
{% endblock %}