/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?&family=Libre+Baskerville:wght@400&family=Noto+Sans+JP:wght@300&display=swap');

/* General */
* {
    margin: 0;
    padding: 0;
    border: none;
}

h1 {
    font-family: 'Libre Baskerville', serif;
    font-weight: 400;
}

body,
.nav-item {
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 300;
}

i {
    font-size: 0.9em;
    padding-left: 0.2em;
    padding-right: 0.4em;
}

/* Navbar */
.navbar-brand h1 {
    font-size: 2em;
}

.nav-item {
    padding-right: 1.5em;
}

.nav-item a {
    color: ghostwhite;
    text-transform: uppercase;
}

.nav-btn a {
    color: black;
    background-color: whitesmoke;
    font-weight: bold;
    border-radius: 10px;
}

.nav-btn a:hover {
    color: ghostwhite;
    background-color: dimgray;
}