/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?&family=Libre+Baskerville:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?&family=Noto+Sans+JP:wght@300&display=swap');

/* General */
* {
    margin: 0;
    padding: 0;
    border: none;
}

h1,
h2 {
    font-family: 'Libre Baskerville', serif;
    font-weight: 400;
}

h2 {
    font-size: 2em;
}

h3,
body,
.nav-item {
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 300;
}

body {
    background-image: url('/static/images/background.jpg');
    background-size: cover;
    min-height: 100vh;
}

/* Navbar */
.navbar-brand h1 {
    font-size: 2.5em;
}

.navbar-brand h1 i {
    font-size: 0.95em;
    padding-left: 0.2em;
}

.navbar-text {
    color: black;
    margin-top: -0.25em;
    margin-left: 1em;
}

.nav-item {
    padding-right: 1.25em;
}

.nav-link {
    color: ghostwhite;
    text-transform: uppercase;
}

.btn-light,
.btn-dark {
    font-weight: bold;
    text-transform: uppercase;
}

.btn-light {
    color: black;
    background-color: whitesmoke;
}

.btn-light:hover,
.btn-dark:hover {
    color: ghostwhite;
    background-color: darkslategrey;
    border-color: darkslategrey;
}

.navbar-toggler {
    margin-top: -0.5em;
    margin-right: 0.5em;
    border: 2px solid;
}

/* Home Page */
#index-splash {
    margin-top: 1.5em;
}

#splash-image {
    object-fit: cover;
    height: 100%;
}

.top-banner h2 {
    font-size: 1.5em;
}

.opening-times {
    background-color: darkslategrey;
    padding: 1.5em 0;
}

.opening-times h3 {
    font-size: 1.25em;
    font-weight: bold;
    text-transform: uppercase;
}

.opening-times p {
    margin-bottom: 0.4em;
}

.bottom-banner a:hover {
    background-color: dimgrey;
}

/* Menu Page */
.menu-div {
    background-color: rgba(245, 245, 235, 0.925);
    padding: 0 3em;
}

.menu-div h3 {
    font-size: 1.25em;
    font-weight: bold;
}

.menu-details-left,
.menu-details-right {
    margin-bottom: 10em;
}

/* Access & Authorisation Forms */
.access-form {
    background-color: ghostwhite;
    border: 0.5em solid gainsboro;
    margin-top: 2em;
}

.access-form a {
    color: darkslategrey;
    font-weight: bold;
}

.access-form a:hover {
    color: ghostwhite;
    background-color: dimgrey;
    text-decoration: none;
}

.access-form button,
.access-form-input {
    color: ghostwhite;
    background-color: dimgrey;
}

.access-form-smalltxt {
    font-size: 0.9em;
}

#sign-out {
    margin-top: -1.5rem;
}

/* Booking Forms & Tables */
.booking-form,
.bg-table {
    background-color: rgb(30, 40, 40);
}

.booking-form {
    color: ghostwhite;
    border: 0.5em solid gainsboro;
    margin-top: 0.2rem;
}

/* Footer */
footer div {
    color: ghostwhite;
    background-color: darkslategrey;
}

footer h2 {
    font-size: 2em;
    margin-bottom: 0.5em;
    margin-right: 1em;
}

footer h3 {
    font-size: 1em;
    font-weight: bold;
    margin-top: 0.8em;
    margin-bottom: 0.1em;
}

footer h3,
footer p {
    margin-left: 0.5em;
}

footer p {
    font-size: 0.9em;
}

.footer-icon {
    background-color: whitesmoke;
    width: 3.5em;
    height: 3.5em;
}

.footer-icon a i {
    color: darkslategrey;
    font-size: 2.2em;
}

.footer-icon:hover {
    border: 2px solid darkslategrey;
}

/* Media Queries */
@media only screen and (max-width: 768px) {
    .nav-item {
        padding-right: 0.5em;
    }
    
    #text-column {
        border-left: solid
    }

    .menu-details-left {
        margin-bottom: 0em;
    }

    .menu-details-right {
        margin-bottom: 15em;
    }

    .booking-entry {
        border-top: solid 2px dimgrey;
    }
}

@media only screen and (max-width: 576px) {
    footer h2 {
        font-size: 1.75em;
        text-align: right;
    }
}

@media only screen and (max-height: 825px) {
    .navbar-brand {
        font-size: 0.85em;
    }

    body,
    #index-splash {
        margin-bottom: 5em;        
    }

    footer h2 {
        font-size: 1.5em;
        margin-right: 0.75em;
    }

    .footer-hours {
        display: none;
    }

    .footer-icon {
        width: 3em;
        height: 3em;
    }

    .footer-icon a i {
        font-size: 1.75em;
    }
}