{% extends 'mainsite.html' %}
{% block details %}

<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-9 col-md-7 col-lg-5 col-xl-3 booking-form text-center mt-3 shadow">
            <h2 class="pt-3">403 Error</h2>
            <h3 class="pb-2">Access forbidden</h3>
            <p>You do not have permission to access this page. This may be because you have signed out. Please click a
                link above to continue, or select one of the options below.</p>
            <a class="btn btn-light mb-3" href="{% url 'index' %}">Home</a>
            <a class="btn btn-light mb-3" href="{% url 'account_login' %}">Bookings</a>
        </div>
    </div>
</div>

{% endblock %}