{% extends 'bookingsite.html' %}

{% block details %}

<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-9 col-md-7 col-lg-5 col-xl-3 booking-form bg-dark shadow">
            <h2 class="text-center">Make a Booking</h2>
            <form method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-light">Submit</button>
            </form>
        </div>
    </div>
</div>

{% endblock %}