{% extends 'base.html' %}

{% block content %}
    {% if user.is_authenticated %}

        <!-- Navbar for Bookings Site -->
        <nav class="navbar bg-light border-bottom border-body sticky-top navbar-expand-md" data-bs-theme="light">
            <div class="container-fluid">
                <a class="navbar-brand" href="{% url 'account_logout' %}">
                    <h1><i class="fa-solid fa-stroopwafel"></i>EastSt.</h1>
                </a>
                <span class="navbar-text"> You are currently logged in as <em>{{ user.username }}</em></span>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-end text-end" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item"><a class="nav-link text-dark" href="{% url 'bookingsite' %}">New Booking</a></li>
                        <li class="nav-item"><a class="nav-link text-dark" href="{% url 'userbookings' %}">My Bookings</a></li>
                        <li class="nav-item"><a class="btn btn-dark" href="{% url 'account_logout' %}">Logout</a></li>
                    </ul>
                </div>
            </div>
        </nav>
      
        <!-- View Specific Details -->
        {% block details %}
        {% endblock %}

        <!-- Allows for displaying of alert messages -->
        {% include 'alerts.html' %} 

    {% else %}

    <!-- Redirect to sign-in page -->
    <meta http-equiv="refresh" content="0; url='{% url 'account_login' %}'" />

    {% endif %}
{% endblock %}