{% extends 'mainsite.html' %}
{% load static %}

{% block details %}

<div class="container">
    <div id="index-splash" class="row justify-content-center text-light">        
        <!-- Left panel containg the welcome image -->
        <div id="image-column"
            class="d-none d-md-block col-md-6 col-lg-5 col-xl-4 gx-0 bg-dark border border-end-0 border-dark-subtle border-3">
            <img id="splash-image" class="img-fluid" src="{% static 'images/open.jpg' %}" alt="">
        </div>        
        <!-- Right panel containg opening times and other text -->
        <div id="text-column"
            class="col-9 col-md-6 col-lg-5 col-xl-4 bg-dark text-center border-top border-bottom border-end border-dark-subtle border-3">
            <!-- NB Do not alter borders to 'border border-start-0' as responsive css will not function correctly -->
            <div class="row">
                <div class="top-banner col pt-3 pb-2">
                    <h2 class="d-none d-md-block">Restaurant cuisine inspired by the street-styles of Asia</h2>
                </div>
            </div>
            <div class="row">
                <div class="opening-times col pt-2">
                    <h3 class="pt-3">Opening Times</h3>
                    <p class="pb-3"><em>Last sitting at 9.30pm</em></p>
                    <p>Monday: CLOSED</p>
                    <p>Tuesday: CLOSED</p>
                    <p>Wednesday: 12.30-10.30pm</p>
                    <p>Thursday: 12.30-10.30pm</p>
                    <p>Friday: 12.30-10.30pm</p>
                    <p>Saturday: 12.30-10.30pm</p>
                    <p>Sunday: 12.30-10.30pm</p>
                </div>
            </div>
            <div class="row">
                <div class="bottom-banner col pt-3">
                    <a class="d-sm d-md-none btn btn-light mx-2 my-1" href="{% url 'menu' %}">Menu</a>
                    <a class="btn btn-light my-1" href="{% url 'account_login' %}">Book Now</a>
                    <p class="pt-2">or call us on (028) 9527 1012</p>
                </div>                
            </div>
        </div>
        <!-- Allows for displaying of alert messages -->
        {% include 'alerts.html' %}
    </div>
</div>

{% endblock %}