{% extends 'base.html' %}
{% block content %}

    <!-- Navbar for Main Site -->
    <nav class="navbar bg-dark border-bottom sticky-top navbar-expand-md" data-bs-theme="dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'index' %}">
                <h1><i class="fa-solid fa-stroopwafel"></i> EastSt.</h1>
            </a>
            <button class="navbar-toggler p-2" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end text-end" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item"><a class="nav-link" href="{% url 'index' %}">Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'menu' %}">Menu</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'location' %}">Location</a></li>
                    <!-- Different 'Bookings' links for toggled/untoggled menu -->
                    <li class="nav-item d-md-none bg-light-subtle rounded"><a class="nav-link" href="{% url 'account_login' %}">Bookings</a></li>
                    <li class="nav-item d-none d-md-inline"><a class="btn btn-light" href="{% url 'account_login' %}">Bookings</a></li>
                </ul>
            </div>
        </div>
    </nav>
     
    <!-- Specific content for page -->
    {% block details %}
    {% endblock %}    

{% endblock %}