{% extends 'mainsite.html' %}
{% block details %}

<div class="container-fluid mt-3">
    <div class="row justify-content-center">
        <div class="menu-div col col-md-6 col-lg-6 pt-3 text-center">
            <h2>All-Day Menu</h2>
            <p><em>Wednesday-Sunday 12.30-10.30pm (last orders 9.45pm)</em></p>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="menu-div col col-md-6 col-lg-6 pt-3 text-center">
            <h3>Snacks</h3>
            <p>£6 Spiced egg & chilli jam / £5 Potato chips & bacon / £7 Spring rolls / £7 Lamb lettuce cups</p>
            <h3>Sushi</h3>
            <p>£12 Prawn dynamite roll / £12 Beef maki tempura / £16 Tuna selection / £10 Avocado roll</p>
            <h3>Grill</h3>
            <p>£15 Lamb cutlet / £14 Iberico with shishito pepper / £7 Miso alomnd corn /
                £7 Teriyaki sweet potato</p>
            <h3>Dumplings</h3>
            <p>£10 Spicy beef and bone marrow / £9 Steamed pork with chilli & peanut /
                £9 Crispy garlic pork dumpling</p>
            <h3>Fish</h3>
            <p>£12 Scallop with ponzu & apple / £11 Tuna tataki with tomato & tarragon / £12 Blackened salmon</p>
            <h3>Bao</h3>
            <p>£6 Brisket mustard bao / £6 Panko wasabi prawn bao / £6 Kimchi with cucumber & pickle ginger</p>
            <h3>To Share</h3>
            <p>£30 Beef massaman curry with cucumber salad steamed rice /
                £80 Côte de boeuf with miso gravy & choice of 2 sides</p>
            <h3>Sides</h3>
            <p>£7 Duck truffle rice / £6 Spicy wafu iceberg lettuce / £7 Spicy pork & green beans /
                £7 Tempura sésame brocoli / £7 Papaya with sugar & thai basil / £6 Wok fried rice</p>
            <h3>Pastry</h3>
            <p>£8 Sticky toffee with banana ice cream & miso butterscotch / £7 Brown sugar brûlée /
                £8 Milk chocolate ganache with marshmallow & pineapple</p>
        </div>
    </div>
</div>
</div>
</div>

{% endblock %}