{% extends 'bookingsite.html' %}

{% if user.is_authenticated %}
{% block details %}

<div class="container text-light">
    <!-- View heading -->
    <div class="row justify-content-center pt-3">
        <div class="col-12 col-lg-7 bg-table">
            <h2>Your Bookings</h2>
        </div>
    </div>
    <!-- List headings -->
    <div class="row justify-content-center">
        <div class="col-4 col-lg-2 bg-table">
            <p><u>Date</u></p>
        </div>
        <div class="col-3 col-lg-1 text-center bg-table">
            <p><u>Time</u></p>
        </div>
        <div class="col-2 col-lg-1 text-center bg-table">
            <p><u>Group</u></p>
        </div>
        <div class="col-3 col-lg-1 text-end bg-table">
            <p><u>Status</u></p>
        </div>
        <div class="col-3 col-lg-2 text-end bg-table">
            <p><u>Actions</u></p>
        </div>
    </div>
    <!-- List of user-made bookings -->
    {% for booking in booking_list %}
    {% if booking.contact_id == user.id %}
    <div class="row justify-content-center">
        <div class="col-4 col-lg-2 bg-dark">
            <p>{{ booking.date|date:"D, jS M Y" }}</p>
        </div>
        <div class="col-3 col-lg-1 text-center bg-dark">
            <p>{{ booking.time|time:"H:i" }}</p>
        </div>
        <div class="col-2 col-lg-1 text-center bg-dark">
            <p>{{ booking.group }}</p>
        </div>
        <div class="col-3 col-lg-1 text-end bg-dark">
            {% if booking.status == 1 %}
            <p>Confirmed</p>
            {% elif booking.status == 2 %}
            <p>Cancelled</p>
            {% else %}
            <p>Pending</p>
            {% endif %}
        </div>
        <div class="col-3 col-lg-2 text-end bg-dark">
            <a class="btn btn-light btn-sm" href="{% url 'update' booking.id %}">Update</a>
            <a class="btn btn-light btn-sm" href="{% url 'delete' booking.id %}">Delete</a>
        </div>
    </div>
    {% endif %}
    {% endfor %}
</div>

{% endblock %}
{% endif %}